taverna-wsdl-generic/src/test/resources/org/apache/taverna/wsdl/parser/schema/complex_type1.xsd

<!--
-->
<xs:schema 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:tns="http://example.com" 
  targetNamespace="http://example.com"
  attributeFormDefault="unqualified" 
  elementFormDefault="qualified" 
  version="1.0">

  <xs:element name="person" type="tns:person"/>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>