taverna-wsdl-generic/src/test/resources/net/sf/taverna/wsdl/parser/TAV-744/InstrumentService_.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InstrumentService" targetNamespace="http://InstrumentService.uniparthenope.it/InstrumentService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://InstrumentService.uniparthenope.it/InstrumentService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:ns0="http://InstrumentService.uniparthenope.it/InstrumentService/types" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns2="http://InstrumentService.uniparthenope.it/InstrumentService/Context/types">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="WS-ResourceProperties.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="WS-BaseFaults.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="WS-BaseN.wsdl"/>
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="ServiceSecurity.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="WS-ResourceProperties.wsdl"/>
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema targetNamespace="http://InstrumentService.uniparthenope.it/InstrumentService" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="WS-BaseFaults.xsd"/>
      <import namespace="http://InstrumentService.uniparthenope.it/InstrumentService/types" schemaLocation="InstrumentServiceTypes.xsd"/>
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="security.xsd"/>
      <import namespace="http://InstrumentService.uniparthenope.it/InstrumentService/Context/types" schemaLocation="InstrumentServiceContextTypes.xsd"/>
      <element name="CreateRequest">
        <complexType>
          <sequence>
            <element name="instrumentName" type="xs:string" minOccurs="1" maxOccurs="1"/>
          </sequence>
        </complexType>
      </element>
      <element name="CreateResponse">
        <complexType>
          <sequence>
            <element ref="ns2:InstrumentServiceContextReference" minOccurs="1" maxOccurs="1"/>
          </sequence>
        </complexType>
      </element>
      <element name="GetListRequest">
        <complexType>
          <sequence/>
        </complexType>
      </element>
      <element name="GetListResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
          </sequence>
        </complexType>
      </element>
      <element name="GetDataRequest">
        <complexType>
          <sequence>
            <element name="instrumentName" type="xs:string" minOccurs="1" maxOccurs="1"/>
          </sequence>
        </complexType>
      </element>
      <element name="GetDataResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1"/>
          </sequence>
        </complexType>
      </element>
      <element name="InstrumentServiceResourceProperties">
        <complexType>
          <sequence/>
        </complexType>
      </element>
    </schema>
  </types>
  <!--place service messages here-->
  <message name="CreateRequest">
    <part name="parameters" element="tns:CreateRequest"/>
  </message>
  <message name="CreateResponse">
    <part name="parameters" element="tns:CreateResponse"/>
  </message>
  <message name="GetListRequest">
    <part name="parameters" element="tns:GetListRequest"/>
  </message>
  <message name="GetListResponse">
    <part name="parameters" element="tns:GetListResponse"/>
  </message>
  <message name="GetDataRequest">
    <part name="parameters" element="tns:GetDataRequest"/>
  </message>
  <message name="GetDataResponse">
    <part name="parameters" element="tns:GetDataResponse"/>
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="InstrumentServicePortType" wsrp:ResourceProperties="tns:InstrumentServiceResourceProperties">
    <operation name="create">
      <input message="tns:CreateRequest" wsa:Action="http://InstrumentService.uniparthenope.it/InstrumentService/CreateRequest"/>
      <output message="tns:CreateResponse" wsa:Action="http://InstrumentService.uniparthenope.it/InstrumentService/CreateResponse"/>
    </operation>
    <operation name="getList">
      <input message="tns:GetListRequest" wsa:Action="http://InstrumentService.uniparthenope.it/InstrumentService/GetListRequest"/>
      <output message="tns:GetListResponse" wsa:Action="http://InstrumentService.uniparthenope.it/InstrumentService/GetListResponse"/>
    </operation>
    <operation name="getData">
      <input message="tns:GetDataRequest" wsa:Action="http://InstrumentService.uniparthenope.it/InstrumentService/GetDataRequest"/>
      <output message="tns:GetDataResponse" wsa:Action="http://InstrumentService.uniparthenope.it/InstrumentService/GetDataResponse"/>
    </operation>
    <wsdl:operation name="GetMultipleResourceProperties" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest"/>
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse"/>
    </operation>
  </portType>
</definitions>